body {
  background-image: url("../images/background.jpg");
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.container {
  background-color: #056d6a;
}

#name {
  padding-top: 15px;
  font-family: "Times New Roman", Times, serif;
}

.paragraph {
  font-family: "Times New Roman", Times, serif;
  background-color: #056d6a;
  margin-bottom: 10px;
  font: 35px;
  color: black;
}

.click {
  width: 80px;
  height: 80px;
}

.start {
  background-color: #056d6a;
  color: #e1e8f0;
  font: 25px;
  margin-bottom: 50px;
}

.addition {
  font-size: 30px;
}

.total {
  font-size: 30px;
}